 body {   
            font-family: Arial;
            background: #f2f2f7; 
            margin:0;
        
        }
        .header {
            background-color: #7B61FF;
            color: white;
            padding: 1px;
            display: flex;
            align-items: center;
            justify-content: flex-start; 
            gap: 20px; 
            font-family: Arial, sans-serif;
        }
       #text {
            font-size: 40px;
            font-weight: bold;
            text-align: center;
            display: block;
            width: 100%;
        }
        
        .partsatu{
            max-width: 500px;
            margin: 40px auto;
            background: white; 
            padding: 20px;
            border-radius: 10px;
            border: 1px solid grey;
        }
        .tajukpart{
            font-weight: bold;
            font-size: 27px;
            margin-bottom: 20px;
        }
        .profilepart {
            background-color: white;
            max-width: 400px;
            margin: 30px auto;
            padding: 30px;
            border-radius: 10px;
            border: 1px solid grey;
           
        }

        .info {
            margin-top: 20px;
            border: 1px solid grey;
        }

       .info p {
            margin: 8px 0;
            font-size: 14px;
        }

       .info span {
           font-weight: bold;
        }
 

        .edit-button
        {
           background-color: #7B61FF;
           color: white;
           padding: 10px 25px;
           border-radius: 10px;
           cursor: pointer;
           display: block;
           margin: 20px auto ;
           font-size: 16px;
           text-decoration: none;
           text-align: center;
        }
        #role
        {
            color: black;
            text-align: center;
            font-weight: bold;
            font-size: 20px;           
        }

 
    #logout-button {
    background-color:red;
    color: white;
    padding: 5px 12px;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block; 
    margin: 5px; 
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    border: none;
    box-sizing: border-box;
    vertical-align: middle;
}

#logout-button:hover {
    background-color: red;
}

.content
{
    text-align: center;
    padding: 0;
}
